<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>

<style type="text/css">
 p.MsoNormal
	{
	    margin-bottom:.0001pt;
	    font-size:12.0pt;
	    font-family:"Times New Roman","serif";
        margin-left: 0cm;
        margin-right: 0cm;
        margin-top: 0cm;
     }
</style>

</head>

<body>
    <p class="MsoNormal">
        <i>
            <span style="font-size:10.0pt; font-family:Arial, sans-serif;color:#0000A1">
                Estimados, 
				
				Adjuntamos los archivos de AFIP
            </span>
			</b>
            <span style="font-size:10.0pt;font-family:Arial, sans-serif;color:gray">
            </span>
        </i>
    </p>
    <p class="MsoNormal">
        <i>
            <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:gray">
                <o:p>&nbsp;</o:p>
            </span>
        </i>
    </p>
    <p class="MsoNormal">
        <i>
            <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:#0000A1">
                Saludos Cordiales
            </span>
        </i>
	</p>
    <p class="MsoNormal">
        <i>
            <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:navy">
                <o:p>&nbsp;</o:p>
            </span>
        </i>
    </p>

</body>
</html>
