<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

	<add key="generateFileAFIP" value="false" />
	<add key="from" value="martinorio@gmail.com" />
	<add key="to" value="" />
	<add key="asunto" value="VARELA GILES - Archivos AFIP" />
	<add key="EmailTemplatePath" value="C:\Desarrollo\Perfumeria\AFIP\Template\Template.html" />
	  
	<add key="getaudarPath" value="C:\MyWaySoft\Perfumería Varela\Files Impresora\Monchi\"/>
	<add key="serviceName" value="ProxyHasar"/>
	  
	<add key="FacturaElectronica" value="true"/>
    <add key="MaxLogin" value="5"/>
	<add key="sonido" value="C:\Desarrollo\Perfumeria\Sound\tada.wav"/>
    <add key="pathLog" value="C:\Desarrollo\Perfumeria\Minimercado\log\"/>
    <add key="port" value="8"/>
    <add key="IpHasar" value="127.0.0.1"/>
    <add key="IpPuertoHasar" value="6500"/>
    <add key="ActivateIF" value="0"/> <!--0=desactivada, 1=activada-->
    <add key="printName" value="Microsoft Print to PDF"/> <!--HP Deskjet F300 series-->
    <add key="pathBackup" value="D:\Backups\ghessi_"/>
    <!--0=desactivada, 1=activada-->
    <add key="delay" value="0,5"/>
    <add key="baudRate" value="9600"/>
    <add key="UserRS" value="martin"/>
    <add key="PasswordRS" value="ormasoft84080"/>
    <add key="RS_url" value="http://localhost/Reportserver_SQLEXPRESS"/>
    <add key="RS_path" value="/Denari"/>
    <add key="DatabaseName" value="ghessi_"/>
    <add key="userFTP" value="MsT2kGdYwzk="/> <!--userftp-->
    <add key="passFTP" value="SUU3/9Kld+7tDt9a/JYloQ=="/> <!--30Valentin17-->
    <add key="pathFTP" value="MRCWkLiifW47acHaXvgMGMDUWXpj/oVOJsXeEeL0qi0="/>  <!--ftp://201.254.176.41/ITProUser-->

	<!--Testing-->
	<add key="RazonSocial" value="Tienda Libre" />
	<add key="DomicilioComercial" value="Moreno 778 Salto Prov. Bs.As. C.P. 2741." />
	<add key="CUIT" value="27311688028" />
	<add key="IngresosBrutos" value="27311688028" />
	<add key="FechaIniActividades" value="01/01/2012" />
	<add key="pfx" value="C:\\MyWaySoft\\Laura Denari\\Certificado\\27311688028.pfx"/>
	<add key="PtoVta" value="8" />
	<add key="URLWSAAWSDL" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms?WSDL" />
	<!--<add key="URLWSAAWSDL" value="https://wsaa.afip.gov.ar/ws/services/LoginCms?WSDL" />-->
	<add key="produccion" value="0" />
	<add key="pathFilesBarCode" value="C:\Desarrollo\Kiosco\Minimercado\bin\Debug\ImagesQR\"/>
	<add key="ComanderaAlternativa" value="false"/>
	<add key="FacturaC" value="false"/>
	<add key="nombreComandera" value=""/>
	<add key="Stock" value="false"/>
	  
    <!--
    <add key="RS_url" value="http://190.111.243.233/Reportserver_SQLEXPRESS" />
    <add key="RS_path" value="" />
    -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
	
  <connectionStrings>
	<!--MiniAvenida2-->
	  <!--<add name ="CNN" connectionString="server=NBK-MARTIN\SQLEXPRESS;User ID=sa;Password=saormasoft;database=MiniAvenida2;Connection Reset=FALSE;Max Pool Size=2000;"/>-->
	  <!--<add name ="CNN" connectionString="server=NBK-MARTIN\SQLEXPRESS;User ID=sa;Password=saormasoft;database=Veterinaria;Connection Reset=FALSE;Max Pool Size=2000;"/>-->
	  <add name ="CNN" connectionString="server=NBK-MARTIN\SQLEXPRESS;User ID=sa;Password=saormasoft;database=KioscoParque;Connection Reset=FALSE;Max Pool Size=2000;"/>
    <!--<add name="CNN" connectionString="VAhrdN/JiVn2d8vIVx8eCHFTovEPnWVcmHBcAsl0wcFzdaEw5Ur1GBeIkHqhxjAu4u1/ryOwcqVwdRHbevplT07ClqoIrFpYSGLIskgqHmeADzDv6ykeSy1foU2QGc7LP8KPTSLzTovr2lVxwPXSkWg+H47KyIpA9jcg9gTUBcw="/>-->
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
