/****** Object:  StoredProcedure [dbo].[SParticuloPorCoBarra]    Script Date: 19/04/2020 19:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SParticuloPorCoBarra] (
	@CodBarra	varchar(20)
)
AS
declare @bit bit =0
select a.IDARTI,A.RUBRARTI,R.DESCRUBR,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,a.PRINTARTI,a.PORCIVAARTI,a.PORCGANANCIAARTI,@bit
from ARTICULO A
INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR
where A.COBAARTI=@CodBarra and ESTAARTI=0