
/****** Object:  StoredProcedure [dbo].[SParticulosParaPrint]    Script Date: 28/08/2023 16:29:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SParticulosParaPrint]
AS
declare @bit bit =0
select a.IDARTI,A.RUBRARTI,R.DESCRUBR,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,a.PRINTARTI,a.PORCIVAARTI,a.PORCGANANCIAARTI, a.STOCKMINARTI,@bit
from ARTICULO A
INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR
where A.ESTAARTI=0 and a.PRINTARTI=1