create PROCEDURE [dbo].[SParticuloPorRubroParaPrint] (
	@RubrArti	numeric(3,0)
)
AS
declare @bit bit =0
IF @RubrArti<>-1 BEGIN
	select a.IDARTI,A.RUBRARTI,R.DESCRUBR,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,a.PRINTARTI,a.PORCIVAARTI,a.PORCGANANCIAARTI, a.STOCKMINARTI,@bit
	from ARTICULO A
	INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR
	INNER JOIN MARCA M ON A.MARCAARTI=M.CODIMARC
	where A.RUBRARTI=@RubrArti and ESTAARTI=0 and printarti=1
END ELSE BEGIN
	select a.IDARTI,A.RUBRARTI,R.DESCRUBR,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,a.PRINTARTI,a.PORCIVAARTI,a.PORCGANANCIAARTI, a.STOCKMINARTI,@bit
	from ARTICULO A
	INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR and ESTAARTI=0
	INNER JOIN MARCA M ON A.MARCAARTI=M.CODIMARC
	where printarti=1
END