
/****** Object:  StoredProcedure [dbo].[SParticuloPorID]    Script Date: 13/06/2020 15:38:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SParticuloPorID] (
	@ID	int
)
AS
select a.IDARTI,A.RUBRARTI,R.DESCRUBR,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,a.PORCGANANCIAARTI,a.PORCIVAARTI,a.FECHAUPDARTI
from ARTICULO A
INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR
where A.IDARTI=@ID