/****** Object:  StoredProcedure [dbo].[SPactualizarPrecioPorTipo]    Script Date: 15/06/2020 10:02:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPactualizarPrecioPorTipo] (
	@idArti	int,
	@tipoUpd smallint,
	@valor	decimal(18,0)
)
AS
IF (@tipoUpd=0) --FIJA UN VALOR AL PRECIO DE COSTO
	UPDATE ARTICULO SET PRINTARTI=1, BASEARTI = @valor, SUGEARTI=round((@valor + (@valor*(PORCGANANCIAARTI/100))),0), FECHAUPDARTI=GETDATE() where IDARTI=@idArti
ELSE IF (@tipoUpd=1) -- FIJA UN VALOR AL PRECIO DE VENTA
	--UPDATE ARTICULO SET SUGEARTI=@valor, PORCGANANCIAARTI=round(((@valor/BASEARTI)-1)*100,2), FECHAUPDARTI=GETDATE() where IDARTI=@idArti
	UPDATE ARTICULO SET PRINTARTI=1,SUGEARTI=@valor,BASEARTI=ROUND((@valor/(1+(PORCGANANCIAARTI/100))),0), FECHAUPDARTI=GETDATE() where IDARTI=@idArti
ELSE IF (@tipoUpd=2) --AUMENTA UN % AL PRECIO DE COSTO
	UPDATE ARTICULO SET PRINTARTI=1,BASEARTI=ROUND(BASEARTI+ BASEARTI* (@valor/100),0), SUGEARTI=ROUND(SUGEARTI+ SUGEARTI* (@valor/100),0), FECHAUPDARTI=GETDATE() where IDARTI=@idArti
ELSE IF (@tipoUpd=3) --AUMENTA UN % AL PRECIO DE VENTA
	UPDATE ARTICULO SET PRINTARTI=1,SUGEARTI=ROUND(SUGEARTI+ SUGEARTI* (@valor/100),0), PORCGANANCIAARTI=round((((ROUND(SUGEARTI+ SUGEARTI* (@valor/100),0))/BASEARTI)-1)*100,2), FECHAUPDARTI=GETDATE() where IDARTI=@idArti
ELSE IF (@tipoUpd=4) BEGIN --CAMBIA EL RUBRO
	DECLARE @PORCGANANCIA DECIMAL(18,2)  = (SELECT PORCGANANCIARUBR FROM RUBRO WHERE CODIRUBR=@valor)
	UPDATE ARTICULO SET PRINTARTI=1,SUGEARTI=ROUND(BASEARTI+ BASEARTI* (@PORCGANANCIA/100),0), PORCGANANCIAARTI=@PORCGANANCIA,RUBRARTI=@valor, FECHAUPDARTI=GETDATE() where IDARTI=@idArti
END