ALTER PROCEDURE [dbo].[RptDocumentosElectronicos] (
	@ptoVta varchar(4),
	@fechaIni datetime,
	@fechaFin datetime
)
AS
select v.NUMEVTA,v.FECHVTA,  round(v.TOTAVTA/1.21,2) SUBTOTA,  round(v.TOTAVTA-(v.TOTAVTA/1.21),2) IVA, v.TOTAVTA, 
'FACTURA ' + v.LETRAVTA TIPOFACT, @ptoVta + '-' + REPLICATE('0', 8-LEN(CAST(V.TICKETFISCALVTA AS VARCHAR))) + CAST(V.TICKETFISCALVTA AS VARCHAR) NROFACTURA,
'RASOCLIE' = CASE WHEN ISNULL(C.IDCLIE,CL.IDCLIE) IS NULL THEN 'CONSUMIDOR FINAL' ELSE ISNULL(C.RASOCLIE,CL.RASOCLIE) END,
'CUITCLIE' = CASE WHEN ISNULL(C.IDCLIE,CL.IDCLIE) IS NULL THEN '20222222223' ELSE ISNULL(C.CUITCLIE,CL.CUITCLIE) END,
'NROFACTORIG'=''
from venta v
left join (VENTA_CLIENTE vc inner join CLIENTE c on vc.IDCLIEVECL=c.IDCLIE) on v.NUMEVTA=vc.IDVTAVECL
left join CLIENTE CL ON V.CLIENTEVTA=CL.IDCLIE
where  (v.FECHVTA between @fechaIni and @fechaFin) and  TIPOVTA=0
UNION ALL
select VTA.NUMEVTA,NC.FECHANOCR,  -round(VTA.TOTAVTA/1.21,2) SUBTOTA,  -round(VTA.TOTAVTA-(VTA.TOTAVTA/1.21),2) IVA, -VTA.TOTAVTA, 
'N. CRÉDITO ' + VTA.LETRAVTA TIPOFACT, @ptoVta + '-' + REPLICATE('0', 8-LEN(CAST(NC.TICKETFISCALNOCR AS VARCHAR))) + CAST(NC.TICKETFISCALNOCR AS VARCHAR) NROFACTURA,
'RASOCLIE' = CASE WHEN VTA.IDCLIE IS NULL THEN 'CONSUMIDOR FINAL' ELSE VTA.RASOCLIE END,
'CUITCLIE' = CASE WHEN VTA.IDCLIE IS NULL THEN '20222222223' ELSE VTA.CUITCLIE END,
'NROFACTORIG'=@ptoVta + '-' + REPLICATE('0', 8-LEN(CAST(VTA.TICKETFISCALVTA AS VARCHAR))) + CAST(VTA.TICKETFISCALVTA AS VARCHAR)
from NOTA_CREDITO NC
INNER JOIN (SELECT V.*,ISNULL(C.IDCLIE,CL.IDCLIE) IDCLIE, ISNULL(C.RASOCLIE,CL.RASOCLIE) RASOCLIE, ISNULL(C.CUITCLIE,CL.CUITCLIE) CUITCLIE
            FROM VENTA V left join (VENTA_CLIENTE vc inner join CLIENTE c on vc.IDCLIEVECL=c.IDCLIE) on v.NUMEVTA=vc.IDVTAVECL
	        LEFT JOIN CLIENTE CL ON V.CLIENTEVTA=CL.IDCLIE) VTA
			ON NC.NUMEVTANOCR=VTA.NUMEVTA
where (NC.FECHANOCR between @fechaIni and @fechaFin) and TIPOVTA=0

