/****** Object:  StoredProcedure [dbo].[SPcajaPorFecha]    Script Date: 25/02/2021 09:55:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPcajaPorFecha] (
	@F1 AS SMALLDATETIME,
	@F2 AS SMALLDATETIME,
	@tipo as BIT
)
AS

   select IDCAJA, FECHACAJA,C.NROFACTCAJA, TIPOCAJA,   
   ORIDESCAJA, ODC.NOMBREODC,DETALLECAJA,
   SUBTOTALCAJA,PORCIVACAJA,IVACAJA, TOTALCAJA, TIPOCTACAJA
   from CAJA C
   INNER JOIN ORIGENDESTINO_CAJA ODC ON C.ORIDESCAJA=ODC.IDODC
   WHERE (C.FECHACAJA >=@F1 AND C.FECHACAJA <=@F2)
   AND C.TIPOCAJA =@tipo AND ELIMINADOCAJA=0
   ORDER BY FECHACAJA

