/****** Object:  StoredProcedure [dbo].[SPMovimientosCajaXcierre]    Script Date: 27/02/2021 12:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPMovimientosCajaXcierre] (
	@iniDate	datetime,
	@endDate	datetime,
	@saldoAnterior decimal(18,2),
	@Tipo		int = 0 -- 0 (Todos) 1 (Efectivo) 2 (M. Pago)
)
AS
DECLARE @Fecha datetime
DECLARE @Tipo_Operacion varchar(20)
DECLARE @Detalle varchar(100)
DECLARE @Total Decimal(18,2)
set @saldoAnterior=ISNULL(( select top 1 SALDOCICA from CIERRECAJA where FECHACICA<@endDate order by IDCICA desc),0) 

IF (@Tipo=0) BEGIN
	SELECT *
	FROM
		(select DATEADD(DAY,-1,@iniDate) FECHA,
		'DETALLE' = 'SALDO ANTERIOR',
		'TIPO_OPERACION' = 'SALDO ANTERIOR',
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = @saldoAnterior
		UNION all 
		select FECHACAJA FECHA,
		'DETALLE' = CASE WHEN TIPOCAJA=0  THEN 'ORIGEN: ' + ODC.NOMBREODC + ' -> ' + DETALLECAJA ELSE 'DESTINO: ' + ODC.NOMBREODC + ' -> ' + DETALLECAJA END,
		'TIPO_OPERACION' = CASE WHEN TIPOCAJA=0  THEN 'INGRESO' ELSE 'EGRESO' END,
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = CASE WHEN TIPOCAJA=0  THEN TOTALCAJA ELSE  -TOTALCAJA END
		from CAJA C
		INNER JOIN ORIGENDESTINO_CAJA ODC ON C.ORIDESCAJA=ODC.IDODC
		WHERE (C.FECHACAJA BETWEEN @iniDate AND @endDate) and c.ELIMINADOCAJA=0
		UNION all --VENTA EN EFECTIVO
		SELECT V.FECHVTA FECHA,
		'DETALLE' = 'COBRO VENTA --> ' + V.LETRAVTA + ' - ' + CASE WHEN V.LETRAVTA='X' THEN CAST(NUMEVTA AS VARCHAR) ELSE CAST(TICKETFISCALVTA AS VARCHAR) END,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = V.TOTAVTA
		FROM VENTA V 
		WHERE (V.FECHVTA BETWEEN @iniDate AND @endDate) AND ELIMINADOVTA=0 AND V.TIPOPAGOVTA=1
		UNION all --COBROS EFECTIVO CTA CTE
		SELECT pa.FECHPACL FECHA,
		'DETALLE' = 'COBRO CTA CTE -> CLIE: ' + C.RASOCLIE + '-> DETALLE: ' + pa.DETAPACL ,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = PA.IMPOPACL
		FROM PAGO_CLIENTE PA
		INNER JOIN CLIENTE C ON PA.CLIEPACL=C.IDCLIE
		WHERE (PA.FECHPACL BETWEEN @iniDate AND @endDate) AND ELIMINADOPACL=0 AND TIPOPACL=1
		UNION all --COBRO MERCADO PAGO
		SELECT V.FECHVTA FECHA,
		'DETALLE' = 'COBRO VENTA --> ' + V.LETRAVTA + ' - ' + CASE WHEN V.LETRAVTA='X' THEN CAST(NUMEVTA AS VARCHAR) ELSE CAST(TICKETFISCALVTA AS VARCHAR) END,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'MERCADO PAGO',
		'TOTAL' = V.TOTAVTA
		FROM VENTA V 
		WHERE (V.FECHVTA BETWEEN @iniDate AND @endDate) AND ELIMINADOVTA=0 AND V.TIPOPAGOVTA=7		
		UNION all --TARJETA DE CREDITO
		SELECT V.FECHVTA FECHA,
		'DETALLE' = 'COBRO VENTA --> ' + V.LETRAVTA + ' - ' + CASE WHEN V.LETRAVTA='X' THEN CAST(NUMEVTA AS VARCHAR) ELSE CAST(TICKETFISCALVTA AS VARCHAR) END,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'TARJETA DE CRÉDITO',
		'TOTAL' = V.TOTAVTA
		FROM VENTA V 
		WHERE (V.FECHVTA BETWEEN @iniDate AND @endDate) AND ELIMINADOVTA=0 AND V.TIPOPAGOVTA=3		
		UNION all --TARJETA DE DEBITO
		SELECT V.FECHVTA FECHA,
		'DETALLE' = 'COBRO VENTA --> ' + V.LETRAVTA + ' - ' + CASE WHEN V.LETRAVTA='X' THEN CAST(NUMEVTA AS VARCHAR) ELSE CAST(TICKETFISCALVTA AS VARCHAR) END,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'TARJETA DE DÉBITO',
		'TOTAL' = V.TOTAVTA
		FROM VENTA V 
		WHERE (V.FECHVTA BETWEEN @iniDate AND @endDate) AND ELIMINADOVTA=0 AND V.TIPOPAGOVTA=4	
		) QUERY
	ORDER BY QUERY.FECHA
END ELSE IF (@Tipo=1) BEGIN
	SELECT *
	FROM
		(select DATEADD(DAY,-1,@iniDate) FECHA,
		'DETALLE' = 'SALDO ANTERIOR',
		'TIPO_OPERACION' = 'SALDO ANTERIOR',
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = @saldoAnterior
		UNION all 
		select FECHACAJA FECHA,
		'DETALLE' = CASE WHEN TIPOCAJA=0  THEN 'ORIGEN: ' + ODC.NOMBREODC + ' -> ' + DETALLECAJA ELSE 'DESTINO: ' + ODC.NOMBREODC + ' -> ' + DETALLECAJA END,
		'TIPO_OPERACION' = CASE WHEN TIPOCAJA=0  THEN 'INGRESO' ELSE 'EGRESO' END,
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = CASE WHEN TIPOCAJA=0  THEN TOTALCAJA ELSE  -TOTALCAJA END
		from CAJA C
		INNER JOIN ORIGENDESTINO_CAJA ODC ON C.ORIDESCAJA=ODC.IDODC
		WHERE (C.FECHACAJA BETWEEN @iniDate AND @endDate) and c.ELIMINADOCAJA=0
		UNION all --VENTA EN EFECTIVO
		SELECT V.FECHVTA FECHA,
		'DETALLE' = 'COBRO VENTA --> ' + V.LETRAVTA + ' - ' + CASE WHEN V.LETRAVTA='X' THEN CAST(NUMEVTA AS VARCHAR) ELSE CAST(TICKETFISCALVTA AS VARCHAR) END,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = V.TOTAVTA
		FROM VENTA V 
		WHERE (V.FECHVTA BETWEEN @iniDate AND @endDate) AND ELIMINADOVTA=0 AND V.TIPOPAGOVTA=1
		UNION all --COBROS EFECTIVO CTA CTE
		SELECT pa.FECHPACL FECHA,
		'DETALLE' = 'COBRO CTA CTE -> CLIE: ' + C.RASOCLIE + '-> DETALLE: ' + pa.DETAPACL ,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'EFECTIVO',
		'TOTAL' = PA.IMPOPACL
		FROM PAGO_CLIENTE PA
		INNER JOIN CLIENTE C ON PA.CLIEPACL=C.IDCLIE
		WHERE (PA.FECHPACL BETWEEN @iniDate AND @endDate) AND ELIMINADOPACL=0 AND TIPOPACL=1	
		) QUERY
	ORDER BY QUERY.FECHA
END IF (@Tipo=2) BEGIN
	SELECT *
	FROM
		(select DATEADD(DAY,-1,@iniDate) FECHA,
		'DETALLE' = 'SALDO ANTERIOR',
		'TIPO_OPERACION' = 'SALDO ANTERIOR',
		'CONDICION' = 'MERCADO PAGO',
		'TOTAL' = 0
		UNION all --COBRO MERCADO PAGO
		SELECT V.FECHVTA FECHA,
		'DETALLE' = 'COBRO VENTA --> ' + V.LETRAVTA + ' - ' + CASE WHEN V.LETRAVTA='X' THEN CAST(NUMEVTA AS VARCHAR) ELSE CAST(TICKETFISCALVTA AS VARCHAR) END,
		'TIPO_OPERACION' = 'INGRESO',
		'CONDICION' = 'MERCADO PAGO',
		'TOTAL' = V.TOTAVTA
		FROM VENTA V 
		WHERE (V.FECHVTA BETWEEN @iniDate AND @endDate) AND ELIMINADOVTA=0 AND V.TIPOPAGOVTA=7		
		) QUERY
	ORDER BY QUERY.FECHA
END
