/****** Object:  StoredProcedure [dbo].[SPFILTROVTA]    Script Date: 31/03/2021 16:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPFILTROVTA](
    @CODIGO NUMERIC(7,0)
)
AS
SELECT V.*,'IdClie' = ISNULL(VC.IDCLIEVECL,0)
FROM VENTA V
LEFT JOIN VENTA_CLIENTE VC ON V.NUMEVTA=VC.IDVTAVECL
WHERE NUMEVTA=@CODIGO