/****** Object:  StoredProcedure [dbo].[SPvtaartAgregar]    Script Date: 29/05/2021 12:42:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPvtaartAgregar] (
	@NUMEVEAR	decimal(18,0),
	@ARTIVEAR	INT,
	@PRECVEAR	REAL,
	@CANTVEAR	NUMERIC(3,0),
	@SUBTOTVEAR REAL,
	@IVAVEAR	DECIMAL(18,2),
	@PORCDTOVEAR DECIMAL(18,2)
	 
)
AS
INSERT INTO VENTA_ARTICULO VALUES (@NUMEVEAR,@ARTIVEAR,@CANTVEAR,@PRECVEAR,@SUBTOTVEAR,@IVAVEAR,@PORCDTOVEAR)
INSERT INTO STOCK (TIPOINGRESOSTK,TIPOMOVSTK,ARTICULOSTK,CANTIDADSTK,FECHASTK,DETALLESTK) VALUES (1,3,@ARTIVEAR,@CANTVEAR,GETDATE(),'')
UPDATE ARTICULO SET 
	STOCKARTI = STOCKARTI - @CANTVEAR 
WHERE ARTICULO.IDARTI=@ARTIVEAR