/****** Object:  StoredProcedure [dbo].[SPclientePorCod]    Script Date: 18/07/2022 08:03:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPclientePorCod] (
	@ID	int
)
AS
select C.*,LO.NOMBLOCA, CI.NOMBRECIVA 
from CLIENTE C
INNER JOIN LOCALIDAD LO ON C.LOCACLIE=LO.CODILOCA
INNER JOIN CONDICIONIVA CI ON C.CONDIVACLIE=CI.IDCIVA
where C.IDCLIE=@Id and ELIMINADOCLIE=0