
/****** Object:  StoredProcedure [dbo].[RptResumenVtasPorRubro]    Script Date: 14/09/2022 15:16:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[RptResumenVtasPorRubro] (
	@fechaIni datetime,
	@fechaFin datetime
)
AS
SELECT R.*,QUERY.*
FROM
RUBRO R INNER JOIN
(
SELECT A.RUBRARTI,SUM(CASE WHEN TIPOVTA=1 THEN VA.CANTVEAR ELSE 0 END) CANT_NEGRO, SUM(CASE WHEN TIPOVTA=1 THEN VA.SUBTOTAVEAR ELSE 0 END) SUBTOTAL_NEGRO, 
SUM(CASE WHEN TIPOVTA=1 THEN 0 ELSE VA.CANTVEAR END) CANT_BLANCO, SUM(CASE WHEN TIPOVTA=1 THEN 0 ELSE VA.SUBTOTAVEAR END) SUBTOTAL_BLACO,
SUM(CASE WHEN TIPOVTA=1 THEN 0 ELSE CASE WHEN A.RUBRARTI=3 THEN 0 ELSE CASE WHEN A.RUBRARTI=2 THEN ROUND ((dbo.ObtenerNeto(VA.SUBTOTAVEAR) - (dbo.ObtenerNeto(VA.SUBTOTAVEAR)/1.21)),2) ELSE ROUND((VA.SUBTOTAVEAR-(VA.SUBTOTAVEAR/1.21)),2) END  END END ) IVA21,
SUM(CASE WHEN TIPOVTA=1 THEN 0 ELSE CASE WHEN A.RUBRARTI=2 THEN dbo.ObtenerNetoNoGravado(VA.SUBTOTAVEAR) ELSE 0  END END ) netoNoGravado
FROM
(select * 
from VENTA 
where ELIMINADOVTA=0 and FECHVTA between @fechaIni and @fechaFin
and NUMEVTA NOT IN (SELECT NUMEVTANOCR FROM NOTA_CREDITO WHERE ELIMINADO=0)) VENTAS
INNER JOIN (VENTA_ARTICULO VA INNER JOIN ARTICULO A ON VA.ARTIVEAR=A.IDARTI) ON VENTAS.NUMEVTA=VA.NUMEVEAR
GROUP BY A.RUBRARTI
) QUERY
ON R.CODIRUBR=QUERY.RUBRARTI
order by DESCRUBR