
/****** Object:  StoredProcedure [dbo].[SParticuloPorCoBarra]    Script Date: 06/04/2023 09:58:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SParticuloPorCoBarra] (
	@CodBarra	varchar(20)
)
AS
declare @bit bit =0
select a.IDARTI,A.RUBRARTI,R.DESCRUBR,A.MARCAARTI,M.DESCMARC,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,a.PRINTARTI,a.PORCIVAARTI,a.PORCGANANCIAARTI, a.STOCKMINARTI,@bit
from ARTICULO A
INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR
INNER JOIN MARCA M ON A.MARCAARTI=M.CODIMARC
where A.COBAARTI=@CodBarra and ESTAARTI=0