
/****** Object:  StoredProcedure [dbo].[SParticuloPorCodiAndRubro]    Script Date: 06/04/2023 09:59:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SParticuloPorCodiAndRubro] (
	@RubrArti	numeric(3,0),
	@CodiArti	numeric(3,0)
)
AS
declare @bit bit =0
select a.IDARTI,A.RUBRARTI,R.DESCRUBR,A.MARCAARTI,M.DESCMARC,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,a.PRINTARTI,a.PORCIVAARTI,a.PORCGANANCIAARTI, a.STOCKMINARTI,@bit	from ARTICULO A
	INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR
	INNER JOIN MARCA M ON A.MARCAARTI=M.codiMARC
where A.RUBRARTI=@RubrArti and A.IDARTI=@CodiArti and ESTAARTI=0
