
/****** Object:  StoredProcedure [dbo].[SParticuloPorFiltros]    Script Date: 06/04/2023 10:01:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SParticuloPorFiltros] (
	@RubrArti	numeric(3,0)
)
AS
IF @RubrArti<>-1 BEGIN
	select a.IDARTI,A.RUBRARTI,R.DESCRUBR,A.MARCAARTI,M.DESCMARC,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,A.PORCIVAARTI, a.STOCKMINARTI
	from ARTICULO A
	INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR
	INNER JOIN MARCA M ON A.MARCAARTI=M.CODIMARC
	where A.RUBRARTI=@RubrArti and ESTAARTI=0
	ORDER BY A.RUBRARTI,A.DESCARTI
END ELSE BEGIN
	select a.IDARTI,A.RUBRARTI,R.DESCRUBR,A.MARCAARTI,M.DESCMARC,a.COBAARTI,a.DESCARTI,a.BASEARTI,a.SUGEARTI,A.STOCKARTI,a.ESTAARTI,A.PORCIVAARTI, a.STOCKMINARTI
	from ARTICULO A
	INNER JOIN RUBRO R ON A.RUBRARTI=R.CODIRUBR	and ESTAARTI=0
	INNER JOIN MARCA M ON A.MARCAARTI=M.CODIMARC
	ORDER BY A.RUBRARTI,A.DESCARTI
END